@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #fbfbfb;
}

@theme{
  --color-black-back: #171717;
  --color-black-fore: #262626;
  --color-block: #35353b;
  --color-search: #404040;
  --color-text-pri: #fbfbfb;
  --color-text-sec: #9c9c9c;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
